body{
    background-image:url("pexels-cátia-matos-1072179.jpg") ;
    
  background-size: cover;
 
}
h1{color:darkturquoise;
font-family:fantasy ;}
div{
    font-size: 20px;
    color:cornsilk;
    font-family: sans-serif;

}
table ,tr,th,td{
    border: 3px solid rgba(160, 209, 166, 0.842);
    border-collapse: collapse;
    width: 60%;
    color: cornflowerblue;
    text-align: center;
}
ul{color:darkorange;}
li a{
    color:darkgrey;

}
